*.swp
*.swo
node_modules/*
test/coverage/assets
test/coverage/display.html
test/coverage/files
test/coverage/index.html
test/coverage/report.history.js
test/coverage/report.history.json
test/coverage/report.js
test/coverage/report.json
